<main class="container">
  <section class="home-content">
    <h3>¡Bienvenido de nuevo {{person()?.primerNombre}} a Nuestro Portal Tu Empresa!</h3>
    <p>Aquí puedes registrar fácilmente tu empresa y hacer seguimiento de todas tus solicitudes. Comienza a gestionar tu negocio con nosotros de manera rápida y eficiente.</p>
    <div class="action-buttons">
      <button mat-raised-button color="primary" routerLink="/business">Ver Empresas</button>
      <button mat-raised-button color="primary" routerLink="/business-register">Crear Empresa</button>
    </div>
  </section>
</main>
